.Studio {
  flex: 1;
  display: flex;
  flex-direction: column;

  .top {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .middle {
    display: flex;
    flex-direction: row;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .Switcher-container {
    width: 50%;
    display: flex;
  }

  .PlayList-container {
    width: 50%;
    display: flex;
  }
}
