@import '../../../styles/index';

.Sources {
  flex: 1;

  .SourceView-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .SourceView-item {
      display: flex;
      flex-direction: row;
      border: 1px solid var(--border);
      background: var(--background);

      &.isPreview {
        border-color: var(--preview);
      }

      &.isProgram {
        border-color: var(--program);
      }

      &.rows2 {
        width: calc(16.66% - 2px);
      }

      &.rows3 {
        width: calc(25% - 2.5px);
      }
    }
  }
}
