@import '../../../styles/index';

.SourceView {
  display: flex;
  flex: 1;
  flex-direction: column;

  .display-container {
    flex: 1;
    @include aspect-ratio(16, 9);
    background-color: var(--display-bg);
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    padding: 2px 4px;
    background: var(--titlebar);

    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      @include circle();
      width: 14px;
      height: 14px;
      font-size: 10px;
      background: var(--button-bg);
      color: var(--button-text);
      border: var(--border);
      text-align: center;
    }

    .name {
      flex: 1;
      text-align: center;
    }
  }
}
