.PGMKeyboard {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);

  > .header {
    text-align: center;
    padding: 5px;
  }

  > .keyboard {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
