.ExternalWindow {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--paragraph);
  background-color: var(--background);

  .fullscreen-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .top {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .Preview-container, .ProgramLocal-container {
      width: calc((40vh - 34px) * 16 / 9);
    }
  }

  .bottom {
    height: 60vh;
    display: flex;
    flex-direction: row;

    .Sources-container {
      // for 12 layouts, 3 rows: width = (height / 3 - margin) * 16 / 9 * 4
      width: calc((60vh / 3 - 20px) * 4 * 16 / 9);

      &.layouts4 {
        // for 4 layouts, 2 rows: width = (height / 2 - margin) * 16 / 9 * 2
        width: calc((30vh - 20px) * 16 / 9 * 2);
      }
    }

    .ProgramLive-container {
      margin: 0 20px;
    }

    .ProgramLive_CurrentTime-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .CurrentTime-container {
        flex: 1;
        display: flex;
      }
    }
  }
}
