@import '../../../styles/index';

.scenes {
  display: flex;

  .display-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .display-wrapper {
      padding: 2px;
      margin: 2px;
      flex: 1 0 calc(25% - 4px);

      &.selected {
        border: 1px solid var(--teal);
      }
    }
  }
}
