@import '../../../styles/index';

.scenes {
  .header {
    @include margin-bottom();
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 20px;

    .h2 {
      flex: 1;
      color: var(--title);
    }

    .buttons {
    }
  }
}
