@import '../../../styles/index';

.HeadNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  .full-screen {
    flex: 0 0 52px;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 100%;
  }

  .header-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .header-bar-item {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .live {
      button {
        margin: 5px 20px;
      }
    }
  }
}
