@import '../../../styles/index';

.Main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: var(--background);
  color: var(--paragraph);


  .main-contents {
    display: flex;
    grid-template-columns: auto 1fr;
    flex-grow: 1;
    height: 100%;
  }

  .main-contents--right {
    grid-template-columns: auto auto 1fr;
  }

  .main-middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .top {
    .Preview, .ProgramLocal, .ProgramLive {
      padding: 0 20px;
    }
  }
}
