@import "../../styles/index";

.Studio {
  .default-layout {
    flex: 1;
    display: flex;
    flex-direction: column;

    .row-1 {
      display: flex;
      flex-direction: row;
    }

    .row-2 {
      display: flex;
      flex-direction: row;
    }

    .row-3 {
      display: flex;
      flex-direction: row;
    }
  }
}

